<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.ejs') %>
    <style>
        .center {
            flex-wrap: wrap;
        }
        .jc {
           justify-content: center;
        }
        .al {
            text-align: left;
        }
        .btn {
             background-color: #ff3f6c;
             color: white;
        }
        .profile-link {
             color: #ff3f6c;
        }
        .card:hover {
            box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.05), 0px 4px 25px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>
<body>
    <%- include ('header.ejs') %>
    <div class="center mt-3">


        <% for(var i=0; i < data.length; i++) { %>
        <div class="card w-75 mb-3">
            <div class="row rounded jc">
                <div class="col-md-11 pt-3 pl-3">
                    <div class="card-body al">
                        <div class="media">
                            <div class="media-body">
                                <a class="btn float-right mr-4 d-none d-md-block" href="/ambassador/<%= data[i].id %>">Visit Profile</a>
                                <h5><strong><a class="profile-link" href="/ambassador/<%= data[i].id %>"><%= data[i].name %></a></strong></h5>
                                <p class="list-inline text-muted">
                                    <img class="mr-2" src="/public/img/pin.svg" alt="map icon"/><%= data[i].address %>
                                </p>
                                <%= data[i].description %>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <small class="text-muted">E-Mail</small><br/>
                                <%= data[i].email %>
                            </div>
                            <div class="col">
                                <small class="text-muted">Mobile Number</small><br/>
                                <%= data[i].number %>
                            </div>
                            <div class="col">
                                <small class="text-muted">Distance</small><br/>
                                <%= data[i].distance %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>



    </div>
<script src="/public/js/main-header.js"></script>
</body>
</html>