<!doctype html>
<html lang="en">
<head>
    <%- include ('head.ejs') %>
    <link rel="stylesheet" href="../public/css/profile.css">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <style>
        #qrcode {
            width:100%;
            height:250px;
            margin-top:30px;
            display: flex;
        }
    </style>
</head>
<body>
    <%- include ('main_header.ejs') %>
    <div class="container center">
        <div>
            <div class="qrcode-container">
                <h4>Referral QR code: </h4>
                <input id="text" type="text" value=<%= qrcodeID %> style="display: none" />
                <div id="qrcode"></div>
            </div>
            <div class="referees mt-3">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"><h3>S. No.</h3></th>
                        <th scope="col"><h3>NAME</h3></th>
                    </tr>
                    </thead>
                    <tbody style="font-size:1.2rem">
                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= data[i].client_name %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="/public/js/qrcode.js"></script>
<script src="/public/js/main-header.js"></script>
</body>
</html>